@import "../variables/variables.scss";
.contact_form_wrapper {
  h2 {
    font-size: $h1-desktop-font-size;
    text-align: center;
  }

  p {
    max-width: 550px;
    margin: 0 auto 80px;
    letter-spacing: 0.7px;
    text-align: center;
  }

  form {
    max-width: 1200px;
    label {
      font-size: $h2-desktop-font-size;
      font-weight: 300;
    }

    input {
      all: unset;
      border-bottom: 1px solid rgba(0, 0, 0, 0.116);
      margin: 0 32px;
      min-width: 200px;
      max-width: 400px;
      height: 60px;
      font-size: $h2-desktop-font-size;
      font-weight: 300;
      padding-left: 20px;
      padding-bottom: 10px;
    }

    input::placeholder {
      color: #d4d4d4;
    }
  }
}
