@import "../variables/variables.scss";
$scroller-gap: 6em;
$scroller-gap-mobile: 1em;

#skills_section_wrapper {
  .skills_section_title_container {
    padding: 0 25px;
    width: 100%;
    h2 {
      text-align: center;
      font-size: $h1-desktop-font-size;
      margin-top: 0px;
      margin-bottom: 0px;
      line-height: 1.2;

      @media (max-width: 768px) {
        font-size: $h1-tablet-font-size;
      }

      @media (max-width: 490px) {
        font-size: $h1-mobile-font-size;
      }
    }

    p {
      max-width: 550px;
      margin: 0 auto;
      letter-spacing: 0.7px;
      text-align: center;
    }
  }

  .skills_section_wrapper_inner {
    margin-top: 80px;
    width: 100vw;
    // mask: linear-gradient(90deg, transparent, white 2%, white 98%, transparent);

    @media (max-width: 768px) {
      margin-top: 60px;
    }

    @media (max-width: 490px) {
      margin-top: 18px;
    }

    .skills_section_container {
      padding-block: 2em;
      display: flex;
      gap: $scroller-gap;
      list-style: none;

      .skills_section_item {
        .skills_section_img {
          width: 100px;
          height: auto;
          object-fit: cover;

          @media (max-width: 768px) {
            width: 86px;
          }

          @media (max-width: 490px) {
            width: 60px;
          }
        }
      }
    }
  }

  .skills_section_wrapper_inner[data-animated="true"] {
    overflow: hidden;
  }

  .skills_section_wrapper_inner[data-animated="true"]
    .skills_section_container {
    width: max-content;
    animation: scroll 40s linear infinite;

    @media (max-width: 490px) {
      animation: scroll-mobile 40s linear infinite;
    }
  }

  .link_container {
    text-align: center;
    margin-top: 60px;
    @media (max-width: 490px) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - $scroller-gap / 2));
  }
}

@keyframes scroll-mobile {
  to {
    transform: translate(calc(-50% - $scroller-gap-mobile / 2));
  }
}
