.main {
  position: relative;
  top: -44px;
  display: flex;
  flex-direction: column;
  gap: 180px;
  align-items: center;
  padding: 48px 0;

  @media (max-width: 768px) {
    gap: 120px;
  }

  @media (max-width: 490px) {
    gap: 60px;
  }
}
