// Font colors
$nav-font-color: rgba(255, 255, 255, 0.8);
$nav-font-color-hover: #fff;
$font-color-white: rgba(236.6094, 236.6094, 236.6094, 1);

// Bg colors
$nav-primary-bg-color: rgba(22, 22, 23, 0.8);
